<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item "><a class="link nav__link" href="index.html">Home</a></li>
        <li class="nav__item "><a class="link nav__link" href="angebot.html">Angebot</a></li>
        <li class="nav__item "><a class="link nav__link" href="meinePferde.html">Meine Pferde</a></li>
        <li class="nav__item "><a class="link nav__link" href="ueberMich.html">&#220;ber mich</a></li>
        <li class="nav__item "><a class="link nav__link" href="kontakt.html">Kontakt</a></li>
    </ul>
</nav>