<div class="col col-lg-2">
    <nav class="nav" role="navigation">
        <ul class="nav__list">
            <li class="nav__item "><a class="link nav__link" href="/">Home</a></li>
            <li class="nav__item "><a class="link nav__link" href="angebot">Angebot</a></li>
            <li class="nav__item "><a class="link nav__link" href="meine-pferde">Meine Pferde</a></li>
            <li class="nav__item "><a class="link nav__link" href="ueber-mich">Über mich</a></li>
            <li class="nav__item "><a class="link nav__link" href="kontakt">Kontakt</a></li>
        </ul>
    </nav>
</div>