<!DOCTYPE html>
<html lang="de">

<%- include('partials/head', { title: 'Willkommen' }) %>

<body class="page container-fluid">

    <!--Header-->
   <rts-header headerTitel="Test"></rts-header>

    <!--Main-->
    <main class="main row g-0">

        <!--Nav-->
        <%- include('partials/nav'); %>
        <div class="col-sm-12 col-lg-10">
            <section class="text-block">
                <h2 class="text-block__title">Herzlich Willkommen</h2>
                <figure class="image__figure">
                    <img class="image__img" src="./img/horsestable.jpg" alt="image of a horse stable">
                </figure>
                <p class="text-block__text">
                    Erlebe die unvergleichliche Faszination des Reitens in einer idyllischen und naturnahen
                    Umgebung,
                    die
                    Dich sofort in ihren Bann ziehen wird. Hier, inmitten der unberührten Natur, kannst Du dem
                    Alltag
                    entfliehen und eine tiefe Verbindung zu den majestätischen Pferden aufbauen. Meine Reitschule
                    bietet
                    Dir
                    ein einzigartiges Erlebnis, bei dem Du die Schönheit und Anmut dieser edlen Tiere hautnah
                    erleben
                    kannst.
                </p>
                <p class="text-block__text">
                    Meine Reitschule ist mehr als nur ein Ort zum Reiten – sie ist ein Ort des Lernens, des Wachsens
                    und
                    des
                    Genießens. Hier kannst Du neue Freundschaften schließen, sowohl mit Gleichgesinnten als auch mit
                    den
                    Pferden, und unvergessliche Momente erleben. Lass Dich von der Magie des Reitens verzaubern und
                    entdecke
                    eine neue Leidenschaft oder vertiefe Deine bestehende Liebe zu Pferden. Ich freue mich darauf,
                    Dich
                    auf
                    diesem wunderbaren Weg zu begleiten und Dir unvergessliche Erlebnisse zu schenken.
                </p>
                <section class="text-block">
                    <h3 class="text-block__subtitle">Mein Ziel</h3>
                    <p class="text-block__text">
                        Bei mir steht das Wohl von Mensch und Pferd im Mittelpunkt. Mein Ziel ist es, Reitern jeden
                        Alters
                        und Erfahrungslevels eine fundierte und einfühlsame Ausbildung zu bieten. Ich lege großen
                        Wert
                        auf
                        eine harmonische Beziehung zwischen Reiter und Pferd, die auf Respekt, Vertrauen und
                        gegenseitigem
                        Verständnis basiert. Durch eine sorgfältige und individuelle Betreuung möchte ich die Freude
                        am
                        Reiten fördern und gleichzeitig Wissen über Pferdepflege, Haltung und ethisches Reiten
                        vermitteln.
                        Ob Du Anfänger bist oder Deine Reitfähigkeiten weiterentwickeln möchtest – ich begleite Dich
                        auf
                        Deinem Weg zu einem verantwortungsvollen und erfolgreichen Reiter.
                    </p>
                </section>
            </section>
        </div>
    </main>

    <!--Footer-->
    <%- include('partials/footer'); %>

</body>

</html>