<!DOCTYPE html>
<html lang="de">

    <%- include('partials/head', { title: 'Meine Pferde' }) %>

    <body class="page container-fluid">

        <!--Header-->
        <rts-header></rts-header>
    
        <!--Main-->
        <main class="main row g-0">
    
            <!--Nav-->
            <div class="col col-lg-2">
                <rts-nav></rts-nav>
            </div>
        <div class="col-sm-12 col-lg-10">
            <section class="text-block">
                <h2 class="text-block__title">Meine Pferde</h2>
                    <rts-horse-card
                        name="Rosi"
                        breed="Haflinger"
                        birthyear="2006"
                        color="Fuchs"
                        gender="Stute"
                        photo-src="./img/Rosi.jpg"
                        alt="Foto einer Haflinger stute."
                        >
                    </rts-horse-card>
                    <rts-horse-card
                        name="Maik du Milan"
                        breed="Haflinger"
                        birthyear="2009"
                        color="Fuchs"
                        gender="Wallach"
                        photo-src="./img/MaikDuMilan.jpg"
                        alt="Foto eines Haflinger Wallachs."
                        >
                    </rts-horse-card>
                    <rts-horse-card
                        name="Allegra"
                        breed="Haflinger"
                        birthyear="2011"
                        color="Fuchs"
                        gender="Stute"
                        photo-src="./img/Allegra.jpg"
                        alt="Foto einer Haflinger Stute."
                        >
                    </rts-horse-card>
                    <rts-horse-card
                        name="Halliena-Sue"
                        breed="Haflinger"
                        birthyear="2012"
                        color="Fuchs"
                        gender="Stute"
                        photo-src="./img/Halliena-Sue.jpg"
                        alt="Foto einer Haflinger Stute."
                        >
                    </rts-horse-card>
                    <rts-horse-card
                        name="Marrakesch vom Schluchebärg"
                        breed="Haflinger"
                        birthyear="2017"
                        color="Fuchs"
                        gender="Wallach"
                        photo-src="./img/Marrakesch.jpg"
                        alt="Foto eines Haflinger Wallachs."
                        >
                    </rts-horse-card>
                    <rts-horse-card
                        name="Leandro"
                        breed="Freiberger"
                        birthyear="2010"
                        color="Bruan"
                        gender="Wallach"
                        photo-src="./img/Leandro.jpg"
                        alt="Foto eines Freiberger Wallachs."
                        >
                    </rts-horse-card>
                </section>
        </div>
    </main>

    <!--Footer-->
    <rts-footer></rts-footer>

</body>

</html>