body {
    padding-top: 3rem;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.answers {
    text-align: left;
}

.quizContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "progress timer"
        "score ."
        "question question"
    ;
}

#timer {
    grid-area: timer;
}

#questionProgress {
    grid-area: progress;
}

#question {
    grid-area: question;

}
#scoreCounter {
    grid-area: score;
}