body {
    padding-top: 3rem;
    width: 80%;
    max-width: 600px;
    margin: auto;
    grid-template-rows: none;
    height: 90vh;
    align-content: center
}

button{
    height: 8vh;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#quizContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-areas:
        "progress timer"
        "score score"
        "question question"
    ;
    height: fit-content;
    margin-bottom: 25px;
}

#timer {
    grid-area: timer;
}

#questionProgress {
    grid-area: progress;
}

#question {
    grid-area: question;

}
#scoreCounter {
    grid-area: score;
}