/* resets */
body,
.row,
.logo,
.menu-icon {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

.main-content {
    overflow: hidden;
    margin-left: -15px;
}

:root {
    /* colors */

    --zurichBlue1: #003399;
    --zurichBlue1-75: #4066B3;
    --zurichBlue2: #000066;
    --white: #FFF;
    --black: #000;
    --grey-10: #E6E6E6;
    --grey-5: #F3F3F3;
    --grey-45: #8E8E8E;
    --black-75: #3E3E3E;
    --skyBlue: #009EE0;
    --midBlue: #4F90c8;

    --color-prominent: var(--black);
    --color-secondary: var(--skyBlue);
}

/* header */
.menu-icon {
    text-align: right;
}

.header {
    height: 68px;
}

.header.bottom-border {
    border-bottom: var(--grey-45) solid 1px;
}

.navigation-area .bottom-border {
    border-bottom: var(--grey-45) solid 1px;
    bottom: 1vw;
    position: relative;
    z-index: -1;
}

.logo img {
    padding: 24px 0 16px 15px;
}

.menu-icon img {
    padding: 30px 15px 16px 0px;
}



/* typography */
.link__text {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: var(--zurichBlue1-75);
    line-height: 18px;
    font-size: 12px;


    @media screen and (min-width:768px) and (max-width: 991px) {}

    @media screen and (min-width:992px) {
        line-height: 20px;
        font-size: 14px;

    }
}

/* heading texts (in images) */

.main__title--primary {
    color: var(--zurichBlue1);
}

.main__title--secondary {
    color: var(--white);
}

.main__title {
    line-height: 26px;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 25px 0 0 0;

    @media screen and (min-width:768px) and (max-width: 991px) {
        line-height: 36px;
        font-size: 34px;
    }

    @media screen and (min-width:992px) {
        line-height: 48px;
        font-size: 45px;

    }

}

/* images */
/* on article or section */
.img-block {
    position: relative;
    width: 120%;
    height: auto;
    display: block;
    margin-left: -15px;

    @media screen and (min-width: 768px) {
        width: 100%;
        margin-left: 0px;
    }
}

.img-block--socials {
    padding: 25px 0 25px 15px;
    margin-left: -15px;
    border-bottom: var(--grey-45) solid 0.1mm;

}

/* figure */
.img-block__figure {
    margin: 0 0 0px 0;
    width: 120%;
    height: auto;

    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.img-block__figure--socials {
    margin: 0;
    background-color: var(--grey-10);
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;

}

/* on img element */
/* standard */
.img-block__figure--ratio-2-3 {
    width: 100%;
}

/* homepage */
.img-block__figure--ratio-portrait {
    margin: 0 0 0 -150px;
    height: auto;
    width: 220%;

    @media screen and (min-width: 768px) {
        width: 80%;
        margin: 0 0 0 -80px;
    }
}

/* socials */
.img-block__figure--ratio-wide {
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
    overflow: auto;
    margin-bottom: 15px;
}

.img-block__figure--share {
    margin-right: -15px;
    width: 110%;
    margin-bottom: -20px;
}

/* on blured mask */
.img-block__overlay {
    position: absolute;
    left: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    backdrop-filter: blur(8px);
    padding-left: 15px;
    width: 112%;
    height: 50%;
}

.img-block__overlay--secondary {
    background-color: rgba(255, 255, 255, 0.4);
}

.img-block__title--secondary {
    color: var(--zurichBlue1);
}

.left-margin {
    margin-left: 15px;

}

figcaption.left-margin,
.content__text.left-margin,
.link__text.left-margin {
    display: block;
    width: 90vw;

    @media screen and (min-width:768px) {
        width: 20vw;
    }
}

figcaption {
    margin-top: 5%;
}

.round-icon {
    position: absolute;
    bottom: 110px;
}

.image--share img {
    height: 40px;
    width: 105%;
}

/* form */
form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

form label {
    margin-top: 10px;
}

form select {
    width: 85%;
    border-radius: 10px;
    border-color: var(--grey-45);

    @media screen and (min-width:768px) {
        width: 75%;
    }
}

/* Quote */
.quote {
    font-family: "Crimson Text", serif;
    font-weight: normal;
    font-style: normal;
    padding: 30px;
    line-height: 25px;
    font-size: 20px;
    margin-left: -15px;
    margin-right: -15px;
    width: 115%;

    @media screen and (min-width:768px) {
        line-height: 32px;
        font-size: 24px;
        margin-left: 0px;
        margin-right: 0px;

    }
}

.quote.content--more-width {
    width: 115%;

    @media screen and (min-width:768px) {
        width: 105%;
    }
}


blockquote {
    margin: 0;
}

.quote--grey {
    /* neutral secondary */
    color: var(--skyBlue);
    background-color: var(--grey-5);
}

.quote--blue {
    /* prominent primary */
    color: var(--white);
    background-color: var(--skyBlue);
}

h2 {
    color: var(--grey-45);
    line-height: 26px;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 0;
    margin: 40px 0 24px 0;

    @media screen and (min-width:768px) and (max-width: 991px) {
        line-height: 28px;

    }

    @media screen and (min-width:992px) {
        line-height: 36px;
        font-size: 30px;

    }
}

/* headline 4 */
h3 {
    margin-top: 40px;

    color: var(--grey-45);
    line-height: 20px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;

    @media screen and (min-width:768px) and (max-width: 991px) {}

    @media screen and (min-width:992px) {
        line-height: 24px;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 24px;
    }
}

.article__title {
    color: var(--grey-45);
    line-height: 18px;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;

    @media screen and (min-width:768px) and (max-width: 991px) {}

    @media screen and (min-width:992px) {
        font-size: 14px;

    }
}

.article__title--nav {
    margin: 20px 0 24px 0;

    @media screen and (min-width:768px) {
        display: inline;
        width: 15%;
        margin: 5% 10px 2% 5%;
        position: absolute;
    }

}

.article__title--header {
    margin: 40px 0 -20px 0;
}



.call-to-action {
    color: var(--zurichBlue1);
    line-height: 20px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    margin: 1px 0 0 8px;

    @media screen and (min-width:768px) and (max-width: 991px) {
        line-height: 20px;
        font-size: 16px;
    }

    @media screen and (min-width:992px) {
        line-height: 24px;
        font-size: 18px;

    }
}

.content__text {
    color: var(--black-75);
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;
    display: inline;

    @media screen and (min-width:768px) and (max-width: 991px) {}

    @media screen and (min-width:992px) {
        line-height: 18px;
        font-size: 14px;

    }
}

.content__text--title {
    display: inline;
    color: var(--zurichBlue1-75);
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px;

    @media screen and (min-width:768px) and (max-width: 991px) {}

    @media screen and (min-width:992px) {
        line-height: 18px;
        font-size: 14px;
    }
}

.content__text--date {
    display: block;
}

.article__content {
    width: 100%;
}

.article__content section {
    margin-bottom: 32px;
}

section.contact {
    position: relative;
}

select {
    padding: 10px;
    color: var(--zurichBlue1-75);
}

.navigation-area {
    margin-top: -30px;

    @media screen and (min-width:768px) {
        margin: 0 -30px 0 0;
        padding: 0;
    }
}

.article__link {
    display: flex;
    flex-direction: row;
    height: 44px;
    background-color: var(--grey-10);
    align-items: center;
    width: 115%;
    margin: 32px 0px 0px -15px;

    @media screen and (min-width: 768px) {
        margin: 0px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        padding-right: 0;
    }

}


.article__link img {
    margin-right: 8px;
}

.article__link a {
    margin-right: 24px;
}

.overlaping {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    width: 120%;
    top: 80px;

}


.interest-icons {
    margin: 0 -15px;
    padding: 0;

    @media screen and (min-width:768px) {
        width: 80%;

    }
}

.interest-icons img {
    width: 170%;
    height: auto;

    @media screen and (min-width:768px) {
        width: 100%;
        position: relative;
        left: 30%;
    }

}

p {
    margin: 0;
}

.link__less-top-margin {
    margin-top: -5px;

    @media screen and (min-width:768px) {
        margin-top: 0px;
    }
}

.flood-image {
    background-color: var(--grey-10);
}

.blue-bold {
    color: var(--zurichBlue1-75);
    font-weight: bold;
}



.content__text--caption {
    color: var(--white);
    background-color: var(--skyBlue);
    width: 112%;
    display: block;
    padding: 15px 15px;
    margin-top: -5px;
}


.website-articles article {
    @media screen and (min-width:768px) {
        position: relative;
        height: 55vh;
        width: 105%;
    }
}


/* footer */

.contact-foot {
    background-color: var(--grey-5);
    width: 110%;
    margin-left: -15px;
    margin-top: -5px;
    padding: 15px;
}

footer .footer {
    background-color: var(--grey-10);
    width: 112%;
    padding-left: 15px;
}

.footer p {
    color: var(--grey-45);

}

.footer__sitemap {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.sitemap__element {
    width: 30%;
    height: 40px;
    background-color: var(--grey-10);
    border-radius: 10px 10px 0 0;
    color: var(--grey-45);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: var(--grey-45) solid 0.1mm;
    font-weight: bold;
}


.footer__links p {
    font-weight: bold;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 15px 25px 15px;
    margin-left: -15px;
    border-bottom: var(--grey-45) solid 0.1mm;
}

.footer__copyright-notice {
    padding: 25px 0;
}



@media screen and (min-width:768px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }


}