* {
    box-sizing: border-box;
}

/* animantion */
@keyframes colorTransform {  /* Name der Transformation */
from {
    background-color: red
}
20%{
    background-color: orange;
}
40%  {
    background-color: rgb(255, 230, 0);
}
60%  {
    background-color: green;
}
80%  {
    background-color: blue;
}
to {
    background-color: violet;
}
}
  

/*mobile*/
.link {
    text-decoration: none;
    color: black;
}


.page {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; 
    
}

/* Header */
.header {
    background-color: #81b29a;
}

.header:hover {
    animation-name: colorTransform;
    animation-duration: 5s;

}
.header__link {
    font-family: "Cinzel Decorative";
    font-weight: normal;
    font-size: 30px;
}

.header__title {
    text-align: center;
    padding: 20px;
}

/* Navigation */
.nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}
.nav__item {
    margin: 4%;
    list-style: none;
}
.nav__link {
    color: #9E9290;
    font-style: italic;
}

/* Main */


.main__title {
    color: #3d405b;
    margin-top: 0;
}

/* Footer */
.footer {
    background-color: #f2cc8f;
}

.footer__figure {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer__img {
    width: 25px;
    margin:10px;
}

.footer__text {
    font-size: 10px;
   
}

/* Section */
.section__title {
    color: teal;
    margin-top: 20px;
    font-size: 20px;
}

.section__price {
    text-decoration: underline;
    color: #e07a5f;
}

.section__pricelist {
    padding-left: 0px;
}

.section__item {
    list-style-type: square;
}

.section__signup {
    font-style: italic;
    color: #81b29a;
}

/* Section Figure */
.section__figure {
    display: flex;
    width: auto;
    margin: 20px;
    justify-content: center;
}

.section__img {
    width: 100%;
    max-width: 700px;
}

/* Section Horse */
.section-horse {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section__tableitem {
    list-style: none;
    padding: 20px 0 0px 0;
}

.numbered {
    list-style: decimal;
}

.section__horse-figure .section__horse-list {
    border-radius: 1px;
    border-style: solid none none none;
    padding: 10px;
    margin: 0;
}
.section__horseimage{
    height: 100%;
    max-height: 200px;
    width: auto;
}
.section__horse-figure{
    height: 100%;
}
.section__horse-list{
 margin-left: -30px;
}

/* Contact Page */
.section__contact-tag {
    font-size: smaller;
    color: #9E9290;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}
.section__contact-phone, .section__contact-email {
    text-decoration: underline;
}
.section__address {
    font-style: normal;
    border-style: dashed;
    border-width: 1px;
    width: fit-content;
    padding: 10px;
}
.iframecontainer .section__iframe {
    margin: 20px 0px;
    height: 300px;
    display: block;
    width: 100%;
}

/* Contact Form */
.form {
    min-height: 200px;
    display: block;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}
.fieldset__label {
    padding-top: 15px;
}
.fieldset__input-radio {
    font-size: smaller;
    padding-right: 10px;
}
.fieldset__input-nachricht {
    width: 100%;
}
.fieldset__submit {
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    background-color: #aadfc5;
    border-color: #5d9178;
}
.submit__contactform {
    background-color: #bebebe;
    border-style: solid;
    border-width: 1px;
    width: 60px;
    height: 20px;
    font-style: italic;
}

/* Miscellaneous */
.button {
    padding: 8px 16px;
    font-size: 12px;
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list__title {
    font-weight: bold;
    list-style: none;
}

.list__subtitle {
    margin: 20px 0 10px 0;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
/* Desktop */
@media screen and (min-width: 1024px) {

    .header {
        display: grid;
        grid-area: header;
        background-color: #81b29a;
        align-content: center;
        justify-content: center;
    }
    
    .header__link{
        font-size: 44px;
    }
    .nav {
        width:200px;
    }
    
    .main {
        margin-bottom: 30px;
    }
    .main__article{
        margin-right: 20px;
    }
    
    .footer {
        background-color: #f2cc8f;
    }
    .main__title{
        margin-top: 30px;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        position: fixed;
        top: 120px;
        margin: 0;
        padding: 0;
        width:200px;
    }
    .nav__item{
        margin: 3%;
        padding: 20px;
    }
    .section__horseimage {
        height: 100%;
        max-height: 300px;
        width: auto;
    }
    .section__tableitem{
        padding: 20px 0;
    }
    .footer__figure{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
    }
}