<%- include('partials/head', { title }) %>
<rts-layout>
    <div slot="content" class="content">
        <rts-hero hero_body="<%= index_hero.hero_body %>" media="<%= index_hero.media %>" title="<%= index_hero.title %>"></rts-hero>
    </div>
</rts-layout>